/* ==UserStyle==
@name           RGU Pen - Alpha
@namespace      roblox.com While using Rogold Ultimate
@version        0.0.1.0
@description    RGU Pen is a way to enhance your Rgu theming experience and more.
Made by former RGU Stylex dev.
This user style is meant to pair with Rogold Ultimate, so it will bug out if you don't have it.
@author         Chplayz
@advanced dropdown betterThemeing " Better Themeing *Early Alpha* " {
betterThemeingOff " Off " <<<EOT
.dark-theme .avatar-container .avatar-card-image, .dark-theme .avatar-container img {
background: var(--backgroundColor);
}
.dark-theme .thumbnail-2d-container {
background: var(--transparentThemeBase) !important;
}
#profile-header-dropdown-menu > div.MuiPaper-root.MuiMenu-paper.web-blox-css-tss-nkarex-Menu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.web-blox-css-mui-hjn929 {
background: var(--accentColor) !important;
}

EOT;
betterThemingOn " On *Early Alpha* " <<<EOT
.rank-num {
color: var(--accentColor) !important;
}
.rank-num {
color: var(--accentColor) !important;
}
.dark-theme .avatar-container .avatar-card-image, .dark-theme .avatar-container img {
background: var(--backgroundColor);
}
.dark-theme .thumbnail-2d-container {
background: var(--transparentThemeBase) !important;
}
.creator-preview {
background: var(--primaryColor) !important;
box-shadow: 0 0 10px var(--primaryColor, var(--third));
}
#profile-header-dropdown-menu > div.MuiPaper-root.MuiMenu-paper.web-blox-css-tss-nkarex-Menu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.web-blox-css-mui-hjn929 {
background: var(--primaryColor) !important;
}



EOT;
}
@advanced dropdown darkOrLight " Theme Base " {
darkTheme " Dark " <<<EOT
:root {
--transparentThemeBase: rgba(0, 0, 0, 0.35);
--solidThemeBase: rgb(0, 0, 0)
}
EOT;
lightTheme " Light " <<<EOT
:root {
--transparentThemeBase: rgba(255, 255, 255, 0.35);
--solidThemeBase: rgb(255, 255, 255)
}
EOT;
}
@advanced dropdown avatarImageStatus " Avatar Image " {
avatarImageOff " Off " <<<EOT
EOT;
avatarImageOn " On " <<<EOT
#home-header > div.home-userinfo-upsell-container > div.avatar.avatar-headshot-lg.card-plain.profile-avatar-image.avatar-color > span > div > span > img {
    padding: 50px;
    background-image: var(--avatarImage) !important;
    background-size: cover !important;
    }
    #navigation > ul > li:nth-child(1) > a > span > span > img {
     padding: 20px;
    background-image: var(--avatarImage) !important;
    background-size: cover !important;   
    }
EOT;
}
@advanced text avatarImage " Avatar Image link " ""
@advanced dropdown floatingStatus " Floating Sidebar & Topbar " {
floatingOff " Off " <<<EOT
EOT;
floatingOn " On " <<<EOT
#wrap #navigation.rbx-left-col {
    border-radius: 10px !important;
    min-height: 400px;
    padding-top: 50px;
    margin-top: var(--sidebarMargin);
    margin-left: var(--sidebarMargin2);
    animation-name: sidebarSwoop;
    animation-duration: 0.8s;
    height: var(--sidebarHeight)!important;
    top: 40px !important;
    left: 0px !important;
}
   @keyframes sidebarSwoop {
        from {
            margin-left: -100px;
            opacity: 0;
        }
        to {
            margin-left: var(--sidebarMargin2);
            opacity: 1;
        }
    }
.games-navigate.navigate-left {
margin-left: 0px !important;
}
.games-navigate.navigate-right {
margin-right: 0px;
}
#wrap #header.rbx-header {
        border-radius: 8px !important;
        width: calc(100% - var(--topbarWidth) * 2) !important;
        left: var(--topbarWidth);
        top: var(--topbarMargin);
        box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
        animation-name: topbarSwoop;
        animation-duration: 0.8s;
    }
     @keyframes topbarSwoop {
        from {
            margin-top: -100px;
            opacity: 0;
        }
        to {
            margin-top: var(--topbarMargin);
            opacity: 1;
        }
    }

EOT;
}
@advanced dropdown extraFloating " Extra Floating Ui " {
extraFloatingOff " Off " <<<EOT

EOT;
extraFloatingOn " On " <<<EOT
#chat-header {
bottom: 10px;
right: 10px;
}
#chat-main {
background: transparent;
}
.chat-container:not(.collapsed) .chat-main {
background: var(--secondaryColor) !important;
bottom: 10px !important;
right: 10px !important;
border-radius: 10px !important;
}
.dark-theme .dialogs .dialog-container .dialog-header {
border-radius: 10px !important;
}
.dark-theme .dialogs .dialog-container .dialog-body {
background: transparent !important;
}
.dialog-container.dialog-visible {
bottom: 5px;
border-radius: 10px !important;
}
#mCSB_1 {
height: 300px;
}
        #home-header > div.profile-banner.profile-banner-long > div {
    border-radius: 14px !important;
    position: absolute !important;
    top: 5px !important;
    right: 5px !important;
}
#home-header .profile-banner .badges-holder, #profile-header-container .profile-banner .badges-holder {
   border-radius: 14px !important;
    position: absolute !important;
    top: 5px !important;
    right: 5px !important;
}
#chat-main {
    box-shadow: -2px 0px 10px 1px 
color-mix(in srgb, rgb(255 255 255 / 0%), #00000000 20%) !important;
}
EOT;
}
@advanced dropdown roundedUi " Extra Rounded UI " {
roundedUiOff " Off " <<<EOT

EOT;
roundedUiOn " On " <<<EOT
#game-details-play-button-container > button {
border-radius: 360px !important;
}
#game-detail-page #voting-section {
    border-radius: 360px !important;
}
.fav-buttons {
border-radius: 360px !important;
}
.carousel-controls.btn-primary-md {
border-radius: 360px !important;
}
.leaderboard-btn, .rewards-btn {
border-radius: 360px !important;
}
.quick-play:not(.quick-edit) {
border-radius: 360px !important;
}
#rogold-badges-container .badge-filter-controls {
border-radius: 25px !important;
}
#rogold-badges-container .rogold-badge-item {
border-radius: 50px !important;
}
#rogold-badges-container .badge-search input {
border-radius: 50px !important;
}
#rogold-badges-container .badge-filter-dropdown select {
border-radius: 50px !important;
}
#rogold-badges-container .badge-sort-toggle button, #rogold-badges-container .badge-view-toggle button {
border-radius: 50px !important;
}
#rogold-badges-container .badge-pagination .pagination-button {
border-radius: 50px !important;
}
#rogold-badges-container .badge-pagination .pagination-info {
border-radius: 50px !important;
}
EOT;
}
@advanced dropdown themedAvatarEffects " Themed Avatar Effects " {
themedAvatarEffectsOff " Off " <<<EOT

EOT;
themedAvatarEffectsOn " On " <<<EOT
    .effect2:before {
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    overflow: visible;
    background: radial-gradient(circle, var(--avatarEffectColor) 0%, var(--accentColor) 100%) 0% 0% / 400%;
    animation: 20s linear 0s infinite normal none running gradientanimate;
} 
.effect2:after {
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    overflow: visible;
    background: radial-gradient(circle, var(--avatarEffectColor) 0%, var(--accentColor) 100%) 0% 0% / 400%;
    animation: 20s linear 0s infinite normal none running gradientanimate;
}
.effect2 {
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    overflow: visible;
    background: radial-gradient(circle, var(--avatarEffectColor) 0%, var(--accentColor) 100%) 0% 0% / 400%;
    animation: 20s linear 0s infinite normal none running gradientanimate;
}
     .effect4 {
    background: linear-gradient(45deg, var(--accentColor) 0%, var(--avatarEffectColor) 100%) !important;
    }
    .effect5 {
        box-shadow: 0 0 10px var(--avatarEffectColor), 0 0 20px var(--avatarEffectColor), 0 0 30px var(--avatarEffectColor), 0 0 40px var(--avatarEffectColor) !important;
        border: 3px solid 0% var(--avatarEffectColor) !important;
    }
    0% {
    box-shadow: 0 0 5px var(--avatarEffectColor), 0 0 10px var(--avatarEffectColor), 0 0 15px var(--avatarEffectColor), 0 0 20px var(--avatarEffectColor);
}
    100% {
    box-shadow: 0 0 5px var(--avatarEffectColor), 0 0 10px var(--avatarEffectColor), 0 0 20px var(--avatarEffectColor), 0 0 30px var(--avatarEffectColor), 0 0 35px var(--avatarEffectColor);
}
    .effect1 {
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    background-color: transparent !important;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    border-top: 3px dashed var(--avatarEffectColor) !important;
    border-right: 3px dashed var(--avatarEffectColor) !important;
    border-left: 3px dashed var(--theme-color-primary) !important;
    border-bottom: 3px dashed var(--theme-color-primary) !important;
    animation: 10s linear 0s infinite normal none running spin;
}
       .spin {
    z-index: 0;
    position: absolute;
    width: 111px;
    height: 111px;
    background: #ffffff00;
    border-radius: 50%;
    }
    .effect3 {
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 2px var(--avatarEffectColor), 0 0 5px #000, inset 0 0 5px #000;
    }
      .effect3::before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    background: repeating-linear-gradient( White 0%, White 7.5px, var(--avatarEffectColor) 7.5px, var(--avatarEffectColor) 15px, White 15px, White 22.5px, var(--avatarEffectColor) 22.5px, var(--avatarEffectColor) 30px);
    transform: translateX(-20%) translateY(-20%) rotate(-45deg);
    animation: stripe 20s linear infinite;
    }
    .effect6 {
    border: 2px solid var(--avatarEffectColor);
    }
    @keyframes pulse {
0% {
    box-shadow: 0 0 0 0 var(--avatarEffectColor);
}
70% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
}

100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
}
}
EOT;
}
@advanced dropdown roproSupport " Ropro Support *Alpha* " {
roproSupportOff " Off " <<<EOT

EOT;
roproSupportOn " On *Alpha* " <<<EOT


@-moz-document url-prefix("https://www.roblox.com/home") {
    
}

@-moz-document url-prefix("https://www.roblox.com/games/") {
    #game-details-play-button-container > button.btn-full-width.btn-common-play-game-lg.btn-primary-md.btn-min-width.random-server-button {
    width: 40px !important;
    margin-left: 3px !important;
    position: relative !important;
    min-width: 0px !important;
    padding: 0px !important;
    }
    #game-details-play-button-container > button.btn-full-width.btn-common-play-game-lg.btn-primary-md.btn-min-width.random-server-button > span {
     filter: invert(1) !important;
    background-image: url(chrome-extension://adbacgifemdbhdkfppmeilbgppmhaobf/images/random_server.svg) !important;
    background-size: cover !important;
    position: relative !important;
    right: 6px !important;   
    }
    #game-detail-page > div.col-xs-12.section-content.game-main-content.remove-panel.follow-button-enabled > div.game-calls-to-action > div.game-title-container > div:nth-child(6) > div > img {
    content: url("https://s3-eu-west-1.amazonaws.com/tpd/logos/5ff8dfbbc6cde80001448fea/0x0.png") !important;
    width: 20px !important;
    height: 20px !important;
    }
    #game-detail-page > div.col-xs-12.section-content.game-main-content.remove-panel.follow-button-enabled > div.game-calls-to-action > div.game-title-container > div:nth-child(6) > div {
    color: transparent !important;
    right: 43px;   
    Position: relative !important;
    }
    #playTimeText {
    color: var(--theme-typography-secondary-color, var(--text-secondary)) !important;   
    }
    .input-dropdown-btn:not(#popover-link), .rbx-select {
    background: transparent !important;   
    }
    #timeOptions {
     border-radius: 14px;
    background: var(--primaryColor) !important;   
    }
    .input-dropdown-btn .rbx-selection-label {
    color: var(--theme-typography-secondary-color, var(--text-secondary)) !important;
    }
    #timeDropdown > button {
    right: 100px !important;
    position: relative !important;   
    }
    #game-details-play-button-container > button.btn-full-width.btn-common-play-game-lg.btn-primary-md.btn-min-width.random-server-button > div {
     background: var(--primaryColor) !important;   
    }
    #game-detail-page > div:nth-child(6) > iframe {
    top: 55px !important;
    height: 3375px !important;
    border-radius: 14px !important;   
    }
    #roproServerFiltersMiniButton {
    background: transparent !important;
    right: 120px !important;
    border: transparent !important;   
    }
    #serverFiltersDropdownBoxMini {
    background: var(--primaryColor) !important;   
    }
    .server-filter-option {
    background: var(--secondaryColor) !important;   
    }
    .dark-theme #playerCountSelector {
    background: var(--primaryColor) !important;
    }
    .dark-theme #maxPlayersListMini {
    background: var(--secondaryColor) !important;   
    }
    
    .dark-theme .max-players-selection {
    background: var(--accentColor) !important;   
    }
    #maxPlayersButtonMini > div.filter-tooltip {
    background: var(--primaryColor) !important;   
    }
    #reverseOrderButtonMini > div {
    background: var(--primaryColor) !important;   
    }
    #notFullButtonMini > div {
    background: var(--primaryColor) !important;   
    }
    #randomShuffleButtonMini > div {
    background: var(--primaryColor) !important;   
    }
    #serverRegionButtonMini > div.filter-tooltip {
    background: var(--primaryColor) !important;   
    }
    #bestConnectionButtonMini > div {
    background: var(--primaryColor) !important;   
    }
    #newestServersButtonMini > div {
    background: var(--primaryColor) !important;   
    }
    #oldestServersButtonMini > div{
    background: var(--primaryColor) !important;   
    }
    #serverRegionButtonMini:hover #serverRegionSelector {
    background: var(--primaryColor) !important;   
    }
}

@-moz-document url-prefix("https://www.roblox.com/users/") {
    #wrap::before {
    content: "";
    width: 100%;
    height: 101%;
    position: fixed;
    background: transparent !important;
    background-repeat: repeat !important;
}
   .dark-theme {
    content: "";
    width: 100%;
    height: 101%;
    background: transparent !important;
    background-image: var(--theme-site-backgroundUrl, var(--theme-site-backgroundColor, var(--theme-color-secondary, var(--background)))) !important;
    background-repeat: repeat !important;
    background-size: var(--theme-site-backgroundImageSize) !important;
    background-blend-mode: var(--theme-site-backgroundBlendMode) !important;
    filter: blur(var(--theme-site-backgroundBlur)) !important;
    }
    #roproThemeFrame {
    left: 0 !important;
    top: -45px !important;
    position: absolute !important;
    border: 0 !important;
    width: 100% !important;
    height: 109% !important;
    z-index: -1 !important;
    }

    
}

:not(.nav-tiny) .left-col-list li:not([class])>a {
height: 35px !important;
}
#upgrade-now-button {
    width: 0px !important;
    height: 0px !important;
    background: transparent !important;
    color: transparent !important;
    right: 9999999px !important;
    position: relative;
}
     span > div.ropro-card-quick-play-options.animate > a:nth-child(1) > button {
position: relative !important;
left: 9999999px !important;
}
      span > div.ropro-card-quick-play-options.animate > a:nth-child(2) > button {
position: relative !important;
left: 9999999px !important;
}
EOT;
}
@advanced dropdown roproTheme " Use Ropro Theme *Alpha* " {
roproThemeOff " Off " <<<EOT

EOT;
roproThemeOn " On " <<<EOT
 #wrap::before {
    content: "";
    width: 100%;
    height: 101%;
    position: fixed;
    background: transparent !important;
    background-repeat: repeat !important;
}
   .dark-theme {
    content: "";
    width: 100%;
    height: 101%;
    background: transparent ;
    background-image: var(--theme-site-backgroundUrl, var(--theme-site-backgroundColor, var(--theme-color-secondary, var(--background)))) !important;
    background-repeat: repeat !important;
    background-size: var(--theme-site-backgroundImageSize) !important;
    background-blend-mode: var(--theme-site-backgroundBlendMode) !important;
    filter: blur(var(--theme-site-backgroundBlur)) !important;
    }
    #roproThemeFrame {
    left: 0 !important;
    top: -45px !important;
    position: absolute !important;
    border: 0 !important;
    width: 100% !important;
    height: 109% !important;
    z-index: -1 !important;
    }


EOT;

}


@advanced color avatarEffectMainColor " Main Avatar Effect Color " rgba(0, 0, 0, 0)
@advanced range sidebarHeight " Floating Sidebar Height " 75
@advanced range sidebarMargin " Floating Sidebar Top Margin (Pixels) " 65
@advanced range sidebarMargin2 " Floating Sidebar Left Margin (Pixels) " 10
@advanced range topbarMargin " Floating Topbar Top Margin (Pixels) " 10
@advanced range topbarWidth " Floating Topbar Width " 10
@advanced dropdown hideEvents " Hide Events On Sidebar " {
hideEventsOff " Off " <<<EOT 

EOT;
hideEventsOn " On " <<<EOT
    .rbx-platform-event-container .rbx-platform-event-thumbnail {
        width: 0px;
        height: 0px;
    }
    .rbx-platform-event-container .rbx-platform-event-header {
        width: 0px;
        height: 0px;
    }
EOT;
}

==/UserStyle== */

@-moz-document domain("www.roblox.com") {
:root{
--avatarImage: url(/*[[avatarImage]]*/);
--sidebarMargin: /*[[sidebarMargin]]*/px;
--sidebarMargin2: /*[[sidebarMargin2]]*/px;
--topbarMargin: /*[[topbarMargin]]*/px;
--topbarWidth: /*[[topbarWidth]]*/px;
--sidebarHeight: /*[[sidebarHeight]]*/%;
--avatarEffectColor: /*[[avatarEffectMainColor]]*/;
--primaryColor: var(--theme-color-primary);
--secondaryColor: var(--theme-color-secondary);
--accentColor: var(--theme-color-third);
--backgroundColor: var(--theme-site-backgroundColor); 
--backgroundImage: var(--theme-site-backgroundUrl); 
    }
    /*[[avatarImageStatus]]*/
    /*[[floatingStatus]]*/
    /*[[darkOrLight]]*/
    /*[[betterThemeing]]*/
    /*[[themedAvatarEffects]]*/
    /*[[extraFloating]]*/
    /*[[roproSupport]]*/
    /*[[roundedUi]]*/
    /*[[hideEvents]]*/
    /*[[roproTheme]]*/
    .dark-theme .icon-default-placeholder, .dark-theme .icon-placeholder-asset, .dark-theme .icon-placeholder-avatar-fullbody, .dark-theme .icon-placeholder-avatar-headshot, .dark-theme .icon-placeholder-game {
    background: transparent !important;   
    }
    #settings-popover-menu {
    border-radius: 10px !important;
    }
    #rogold-badges-container .rogold-badge-item.badge-owned {
    border: 3px solid #00b95b;
}
#rogold-badges-container .rogold-badge-item.badge-unowned {
    border: 3px solid #ff6969;
}
    #react-user-account-base > div.section > img {
    content: url(https://github.com/IamChplayz/Rgu-Pen/blob/main/Images/ultimate_hub%20X%20RGU%20Penpng.png?raw=true) !important;
    }

}


@-moz-document url-prefix("https://www.roblox.com/users/1827987975/profile") {
    
    :Root{
     --profileAvatarImage: url(https://github.com/IamChplayz/images/blob/main/pfp.png?raw=true);
     --profileAvatarEffectColor: #5d6bf8;
     --profileAccentColor: rgba(122, 145, 204, 1);
    }
 #profile-header-container > div.profile-content > div.avatar > span > img {
    padding: 50px;
    background-image: var(--profileAvatarImage) !important;
    background-size: cover !important;
    }
    #navigation > ul > li:nth-child(1) > a > span > span > img {
     padding: 20px;
    background-image: var(--profileAvatarImage) !important;
    background-size: cover !important;   
    }  
    .effect2:before {
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    overflow: visible;
    background: radial-gradient(circle, var(--profileAvatarEffectColor) 0%, var(--profileAccentColor) 100%) 0% 0% / 400%;
    animation: 20s linear 0s infinite normal none running gradientanimate;
} 
.effect2:after {
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    overflow: visible;
    background: radial-gradient(circle, var(--profileAvatarEffectColor) 0%, var(--profileAccentColor) 100%) 0% 0% / 400%;
    animation: 20s linear 0s infinite normal none running gradientanimate;
}
.effect2 {
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    overflow: visible;
    background: radial-gradient(circle, var(--profileAvatarEffectColor) 0%, var(--profileAccentColor) 100%) 0% 0% / 400%;
    animation: 20s linear 0s infinite normal none running gradientanimate;
}
     .effect4 {
    background: linear-gradient(45deg, var(--profileAccentColor) 0%, var(--profileAvatarEffectColor) 100%) !important;
    }
    .effect5 {
        box-shadow: 0 0 10px var(--profileAvatarEffectColor), 0 0 20px var(--profileAvatarEffectColor), 0 0 30px var(--profileAvatarEffectColor), 0 0 40px var(--profileAvatarEffectColor) !important;
        border: 3px solid 0% var(--profileAvatarEffectColor) !important;
    }
    0% {
    box-shadow: 0 0 5px var(--profileAvatarEffectColor), 0 0 10px var(--profileAvatarEffectColor), 0 0 15px var(--profileAvatarEffectColor), 0 0 20px var(--profileAvatarEffectColor);
}
    100% {
    box-shadow: 0 0 5px var(--profileAvatarEffectColor), 0 0 10px var(--profileAvatarEffectColor), 0 0 20px var(--profileAvatarEffectColor), 0 0 30px var(--profileAvatarEffectColor), 0 0 35px var(--profileAvatarEffectColor);
}
    .effect1 {
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    background-color: transparent !important;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    border-top: 3px dashed var(--profileAvatarEffectColor) !important;
    border-right: 3px dashed var(--profileAvatarEffectColor) !important;
    border-left: 3px dashed var(--theme-color-primary) !important;
    border-bottom: 3px dashed var(--theme-color-primary) !important;
    animation: 10s linear 0s infinite normal none running spin;
}
       .spin {
    z-index: 0;
    position: absolute;
    width: 111px;
    height: 111px;
    background: #ffffff00;
    border-radius: 50%;
    }
    .effect3 {
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 2px var(--avatarEffectColor), 0 0 5px #000, inset 0 0 5px #000;
    }
      .effect3::before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    background: repeating-linear-gradient( White 0%, White 7.5px, var(--avatarEffectColor) 7.5px, var(--avatarEffectColor) 15px, White 15px, White 22.5px, var(--avatarEffectColor) 22.5px, var(--avatarEffectColor) 30px);
    transform: translateX(-20%) translateY(-20%) rotate(-45deg);
    animation: stripe 20s linear infinite;
    }
    .effect6 {
    border: 2px solid var(--avatarEffectColor);
    }
    @keyframes pulse {
0% {
    box-shadow: 0 0 0 0 var(--avatarEffectColor);
}
70% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
}

100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
}
    }
    
    
    
    
    
}

 /*[[roproSupport]]*/

